<h1>Sign Up!</h1>

<form method="POST" action="<%=users_url%>">
  <label>Username
  <input type="text" name= "user[user_name]" value="">
  </label>
  <label>Password
  <input type="password" name= "user[password]" value="">
  </label>
  <input type="submit" value="Sign Up!">
</form>








