/* PHASE 0: Sidebar */
.profile-picture{
  position: relative;
  border-radius: 5px;
  margin-top: -120px;
  border: 1px solid black

}

.content-sidebar a {
  display: block;
}

.profile-info h2 {
  margin-top: .83em;
  margin-bottom: .83em;
  font-weight: bold;
  font-size: 24px;
}

.profile-info p {
  margin: 20px 0px;
}

.profile-nav li {
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  border-top: 1px solid gray
}

.profile-nav li:last-child{
  border-bottom: 1px solid gray
}