.tile {
    background-color: lightgray;
    border: .5px solid black;
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
}

.row{
    
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    
}