*{
  font-family: 'Chango', cursive;
}

/* #main {
  position: absolute;

} */

.clock{
  width: 330px;
  margin: 10px auto;


}

.date-time{

  border: 2px solid salmon;
  border-radius: 5px;
  padding: 10px;

}

.tabs{
  border: 1px solid black;
  width: 300px;
}

.tab-titles{
  display: flex;
  color: blue;

}

.tab-titles h3 {
  border: 1px solid black;
  margin: 3px;
}

.pane{
  color: black;
  background-color: aquamarine;
  width: 300px;
}

.window{
  border: 1px solid black;
}