// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown {
  position: absolute;
  display: none;

}

.gear-dropdown li{
  position: relative;

}

#gear:hover .gear-dropdown{

  display:block;

}

.gear-dropdown li {
  font-size: 10px;
  font-weight: 200;
}

.dropdown-subtitle {
  font-size: 8px;
}